@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --white: #f3f4f6;
  --black: #262626;
  --gray: #b4b4b4;
  --primary: #0b3c5d;
  --primary50: #2d9cdb;
  --secondary: #82c0cc;
  --secondary50: #c1f5ff;
  --tertiary: #ffa500;
  --tertiary50: #ffd78c;
  --error: #ff6060;
}

@font-face {
  font-family: "Nanum Gothic", sans-serif;
  src: url("../fonts/Nanum_Gothic/NanumGothic-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nanum Gothic", sans-serif;
  src: url("../fonts/Nanum_Gothic/NanumGothic-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Nanum Gothic", sans-serif;
  src: url("../fonts/Nanum_Gothic/NanumGothic-ExtraBold.ttf") format("truetype");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@layer base {
  html {
    @apply bg-[var(--white)];
    font-family: "Nanum Gothic", sans-serif;
  }
}
